


@media screen and (max-width:1550px){
    .box21 {
        
        a {

            div {
                i {
                    font-size: 50px;
                    padding-right: 3px;
                }
                p {
                    padding: 1px;
                    font-size: 15px;
                }
                h3{font-size: 25px;}
                margin-right: -60px;
            }
        }
    }

    .box22 {
        div {
            i {
                font-size: 50px;
                padding-right: 3px;
            }
            p {
                padding: 1px;
                font-size: 15px;
            }
            h3{font-size: 25px;}
            margin-right: -60px;
        }
    }
    .box23{

        div {
            i {
                font-size: 50px;
                padding-right: 3px;
            }
            p {
                padding: 1px;
                font-size: 15px;
            }
            h3{font-size: 25px;}
            margin-right: -60px;
        }
    }
}